.row {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('images/PopulatieService1.png');
}

#content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#edit-tool-button {
    position: absolute;
    top: 133px;
    left: 751px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal {
    display: block;
}

.modal-body {
    line-height: 2.0;
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pand {
    position: relative;
    left: 5px;
}

.verblijfsobject {
    position: relative;
}

.verblijfsobject-content {
    position: relative;
    left: 10px;
}

.verblijfsobject-form {
    line-height: 1.0;
}

.verblijfsobject-form button {
    font-size: 10px;
}

.verblijfsobject-form input {
    margin-left: 10px;
}

.verblijfsfunctie {
    position: relative;
    left: 15px;
}

.verblijfsfunctie button {
    margin-right: 5px;
    font-size: 10px;
}

.verblijfsfunctie-add {
    position: relative;
    left: 15px;
}

.verblijfsfunctie-form button {
    font-size: 10px;
}

.verblijfsfunctie-form select {
    margin-left: 10px;
    margin-right: 10px;
}

.verblijfsfunctie-form input {
    line-height: 1.0;
    width: 60px;
}