.row {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255,255,255,0);
}

#content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.modal {
    display: block;
}

.modal-dialog {
    margin: 0;
}

.modal-lg {
    width: 1000px;
}

.modal-header {
    height: 90px;
}

.modal-body {
    line-height: 2.0;
    height: 545px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-footer {
    height: 65px;
}

#abortButton {
    float: left;
}

.pand {
    position: relative;
    left: 5px;
}

.verblijfsobject {
    position: relative;
}

.panel-title {
    cursor: pointer;
}

.panel-title button {
    font-size: 10px;
    float: right;
}

.panel-body {
    padding-left: 5px;
}

.verblijfsobject-form {
    line-height: 1.5
}

.verblijfsobject-form .row {
    margin-top: 0px;
    margin-bottom: 5px;
}

.verblijfsobject-form button {
    font-size: 10px;
    margin-left: 15px;
}

.verblijfsobject-form input {
    margin-left: 10px;
}

.verblijfsfunctie {
    position: relative;
    left: 15px;
}

.verblijfsfunctie-add {
    position: relative;
    left: 15px;
}

.verblijfsfunctie-form button {
    font-size: 10px;
}

.verblijfsfunctie-form select {
    margin-left: 10px;
    margin-right: 10px;
}

.verblijfsfunctie-form input {
    line-height: 1.0;
    width: 60px;
}

.verblijfsfunctie .panel {
    margin-right: 15px;
}

.panel-body input {
    line-height: 1.0;
}

.scroll-space {
    height: 80px;
}

.error-message {
    color: red;
}